    body {
        margin: 0;
        padding: 0;
        background-image: linear-gradient(rgb(69, 69, 241), rgb(202, 134, 202));
        background-size: cover;
        font-family: sans-serif;
    }
    /* Add a black background color to the top navigation */
    
    .topnav {
        background-color: transparent;
        overflow: hidden;
    }
    /* Style the links inside the navigation bar */
    
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    /* Change the color of links on hover */
    
    .topnav a:hover {
        background-color: rgba(204, 119, 253,0.8);
                
        color:rgba(69, 69, 241,0.9);
    }
    /* Add a color to the active/current link */
    
    .topnav a.active {
        background-color: rgb(69, 69, 241);
        color: white;
    }
    
    .search-field {
        height: 30px;
        padding: 10px;
        border-radius: 25px;
        border: none;
        outline: none;
    }
    
    .search-btn {
        height: 50px;
        width: 150px;
        background: rgb(240, 207, 24);
        border: none;
        color: #000;
        border-radius: 25px;
    }
    
    .search-btn:hover {
        background: #ffc107;
        cursor: pointer;
    }
    
    h1 {
        margin: 0. 0 10px;
        padding: 0;
        color: #fff
    }
    
    .box {
        position: absolute;
    }
    
    input {
        position: relative;
        display: inline-block;
        font-size: 20px;
        box-sizing: border-box;
        transition: 5s;
    }
    
    input[type="text"] {
        background: #fff;
        width: 340px;
        height: 50px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;
    }
    
    #myInput {
        border-radius: 25px;
        border-color: white;
        background-color: white;
        position: relative;
        display: inline-block;
        font-size: 20px;
        box-sizing: border-box;
        transition: .5s;
        width: 400px;
    }
    
    #myInput1 {
        border-radius: 25px;
        border-color: white;
        background-color: white;
        position: relative;
        width: 600px;
    }
    
    .first {
        min-height: 100vh;
        width: 100%;
        background-image: url("banner.png"), linear-gradient(rgb(69, 69, 241), rgb(202, 134, 202));
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    
    .autocomplete {
        display: inline;
    }
    
    .text-box {
        width: 90%;
        color: #fff;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-35%, 120%);
        text-align: center;
    }
    
    .text-box h2 {
        font-size: 30px;
        color: #fff;
    }
    
    .hero-btn {
        display: inline;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    
    .hero-btn:hover {
        border: 1px solid rgb(240, 207, 24);
        background: rgb(69, 69, 241);
        transition: 1s;
    }
    /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
    
    @media screen and (max-width: 500px) {
        .navbar a {
            float: none;
            display: block;
        }
        .text-box {
            font-size: 20px;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }
        /* Create two equal columns that sits next to each other */
        /*   .column {
            flex: 50%;
            padding: 0 4px;
            transform: translate(-35%, 120%)
        }
        .column img {
            margin-top: 8px;
            margin-left: 20px;
            vertical-align: middle;
            transform: translate(-35%, 120%)
        }
        .campus {
            font-size: 30px;
            color: #fff;
            transform: translate(-35%, 120%)
        }*/
        .campus {
            margin: auto;
            text-align: center;
            padding-top: 100px;
            width: 80%
        }
        .column {
            flex-basis: 31%;
            border-radius: 10px;
            margin-bottom: 5%;
            text-align: left;
        }
        .row img {
            padding: 10px;
        }
    }